<div class="container">
    <ul class="breadcrumb">
      <li class = "breadcrumb-item active">
         <a routerLink="/films">Films</a>
      </li>
    </ul>
  <router-outlet></router-outlet>
</div>

