<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h2>New film</h2>
      <form>
        <div class="form-group">
          <label for="staticEmail">Name</label>

            <input class="form-control" #Name id="staticEmail">
        </div>
        <button class="btn btn-primary" (click)="add(Name.value); Name.value=''">add</button>
      </form>
      </div>
      <div class="col-md-6">
      <ul class="list-group">
              <li *ngFor="let film of films" class="list-group-item d-flex justify-content-between align-items-center">
                   {{film.name}}
                <button class="btn btn-danger delete"
                  (click)="delete(film)">x</button>
              </li>
            </ul>
      </div>
  </div>
  <div>
 </div>
</div>




